www/node-red.json
[
    {
        "id": "4758cbb4.e398f4",
        "type": "tab",
        "label": "Lighting vs Motion",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ef7839a1.46e7a8",
        "type": "tab",
        "label": "Entry / Exit",
        "disabled": false,
        "info": ""
    },
    {
        "id": "35402f59.5d2f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6598a9b4.475fe8",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "751339ba.f22bc8",
        "type": "server",
        "name": "Home Assistant"
    },
    {
        "id": "53bff983.f53758",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "36a26f2e.b8fdb",
        "type": "server-state-changed",
        "z": "4758cbb4.e398f4",
        "name": "Bathroom Motion",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.shower_motion_motion",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": false,
        "x": 185,
        "y": 119,
        "wires": [
            [],
            [
                "68981e0a.7626a",
                "f565a5b7.056178"
            ]
        ]
    },
    {
        "id": "f565a5b7.056178",
        "type": "stoptimer",
        "z": "4758cbb4.e398f4",
        "duration": "1.5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "1.5 Mins",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "fccafb32.28f528"
            ],
            []
        ]
    },
    {
        "id": "fccafb32.28f528",
        "type": "api-current-state",
        "z": "4758cbb4.e398f4",
        "name": "Shower Motion Off?",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "binary_sensor.shower_motion_motion",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 198,
        "y": 326,
        "wires": [
            [
                "581fd199.42dd5"
            ],
            [
                "f565a5b7.056178"
            ]
        ]
    },
    {
        "id": "68981e0a.7626a",
        "type": "api-call-service",
        "z": "4758cbb4.e398f4",
        "name": "Bathroom Lights On",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.bathroom_1, light.bathroom_2, light.bathroom_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "581fd199.42dd5",
        "type": "api-call-service",
        "z": "4758cbb4.e398f4",
        "name": "Bathroom Lights Off",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.bathroom_1, light.bathroom_2, light.bathroom_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 458,
        "y": 326,
        "wires": [
            []
        ]
    },
    {
        "id": "a7f57d2f.3d605",
        "type": "comment",
        "z": "4758cbb4.e398f4",
        "name": "Bathroom Lights based on motion sensors",
        "info": "",
        "x": 200,
        "y": 28,
        "wires": []
    },
    {
        "id": "f837f20f.c20ad",
        "type": "server-state-changed",
        "z": "ef7839a1.46e7a8",
        "name": "Leave Home",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.mike_s_iphone_xs",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": false,
        "x": 101,
        "y": 140,
        "wires": [
            [],
            [
                "7e4eab1.44afa54",
                "772a73d0.8a2cdc"
            ]
        ]
    },
    {
        "id": "7e4eab1.44afa54",
        "type": "time-range-switch",
        "z": "ef7839a1.46e7a8",
        "name": "630a-3p",
        "lat": "",
        "lon": "",
        "startTime": "06:30",
        "endTime": "15:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "9d0ec4c6.1e3858"
            ],
            [
                "af719cd3.7dd04"
            ]
        ]
    },
    {
        "id": "9d0ec4c6.1e3858",
        "type": "api-call-service",
        "z": "ef7839a1.46e7a8",
        "name": "Turn off Lights",
        "server": "6598a9b4.475fe8",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "group.all_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 500,
        "y": 134,
        "wires": [
            [
                "96dc71d.cd6ae9"
            ]
        ]
    },
    {
        "id": "5be99b82.ac07a4",
        "type": "api-call-service",
        "z": "ef7839a1.46e7a8",
        "name": "Turn on Corners",
        "server": "6598a9b4.475fe8",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "group.right_side_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 697,
        "y": 209,
        "wires": [
            []
        ]
    },
    {
        "id": "af719cd3.7dd04",
        "type": "api-call-service",
        "z": "ef7839a1.46e7a8",
        "name": "Turn off Lights",
        "server": "6598a9b4.475fe8",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "group.all_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 497,
        "y": 209,
        "wires": [
            [
                "5be99b82.ac07a4"
            ]
        ]
    },
    {
        "id": "9b397ef.73aaa8",
        "type": "server-state-changed",
        "z": "ef7839a1.46e7a8",
        "name": "Arrive Home",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.mike_s_iphone_xs",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "away",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": false,
        "x": 103,
        "y": 357,
        "wires": [
            [],
            [
                "27ee3f31.52bd1"
            ]
        ]
    },
    {
        "id": "a8b6f28d.bc9b5",
        "type": "api-call-service",
        "z": "ef7839a1.46e7a8",
        "name": "Turn on Lights",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.corner_2, light.far_corner_2, light.entrance_2",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 460,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e6900f8.d4772f",
        "type": "comment",
        "z": "4758cbb4.e398f4",
        "name": "Bathroom Motion",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "90bbf501.44b0f8",
        "type": "api-call-service",
        "z": "ef7839a1.46e7a8",
        "name": "Lock August",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "lock",
        "service": "lock",
        "entityId": "lock.august_smart_lock_pro",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 696,
        "y": 55,
        "wires": [
            []
        ]
    },
    {
        "id": "80d9205c.bd35d",
        "type": "api-current-state",
        "z": "ef7839a1.46e7a8",
        "name": "is unlocked?",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "outputs": 2,
        "halt_if": "unlocked",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "lock.august_smart_lock_pro",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 498,
        "y": 57,
        "wires": [
            [
                "90bbf501.44b0f8"
            ],
            []
        ]
    },
    {
        "id": "772a73d0.8a2cdc",
        "type": "stoptimer",
        "z": "ef7839a1.46e7a8",
        "duration": "1.5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "1.5 Mins",
        "x": 306,
        "y": 75,
        "wires": [
            [
                "80d9205c.bd35d"
            ],
            []
        ]
    },
    {
        "id": "1b5cc55f.8650ab",
        "type": "api-call-service",
        "z": "ef7839a1.46e7a8",
        "name": "Unlock August",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "lock",
        "service": "unlock",
        "entityId": "lock.august_smart_lock_pro",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 880,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a48ff001.48a55",
        "type": "api-current-state",
        "z": "ef7839a1.46e7a8",
        "name": "is locked?",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "outputs": 2,
        "halt_if": "locked",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "lock.august_smart_lock_pro",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 670,
        "y": 321,
        "wires": [
            [
                "1b5cc55f.8650ab"
            ],
            []
        ]
    },
    {
        "id": "27ee3f31.52bd1",
        "type": "stoptimer",
        "z": "ef7839a1.46e7a8",
        "duration": "1.5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "1.5 Mins",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "8ec4a48d.bfeaa8"
            ],
            []
        ]
    },
    {
        "id": "8ec4a48d.bfeaa8",
        "type": "api-call-service",
        "z": "ef7839a1.46e7a8",
        "name": "",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notify",
        "entityId": "mobile_app_mike_s_iphone_xs",
        "data": "{\"Title\":\"Front door is locked\",\"Message\":\"Do you want to unlock?\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 460,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "98621773.ab3d98",
        "type": "time-range-switch",
        "z": "ef7839a1.46e7a8",
        "name": "630a-6p",
        "lat": "38.88251",
        "lon": "-77.11293",
        "startTime": "06:30",
        "endTime": "18:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 280,
        "y": 380,
        "wires": [
            [],
            [
                "a8b6f28d.bc9b5"
            ]
        ]
    },
    {
        "id": "96dc71d.cd6ae9",
        "type": "api-call-service",
        "z": "ef7839a1.46e7a8",
        "name": "Turn on Corners",
        "server": "6598a9b4.475fe8",
        "version": "1",
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "group.right_side_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 700,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "678ef46e.29315c",
        "type": "server-state-changed",
        "z": "4758cbb4.e398f4",
        "name": "PC On",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.cobblepot_power_status",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "unavailable",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "74715cf5.8b5444"
            ],
            []
        ]
    },
    {
        "id": "74715cf5.8b5444",
        "type": "api-call-service",
        "z": "4758cbb4.e398f4",
        "name": "",
        "server": "6598a9b4.475fe8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.wled_desk_master",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 480,
        "y": 480,
        "wires": [
            []
        ]
    }
]