_backup/flows.json
[{"id":"4758cbb4.e398f4","type":"tab","label":"Lighting vs Motion","disabled":false,"info":""},{"id":"ef7839a1.46e7a8","type":"tab","label":"Entry / Exit","disabled":false,"info":""},{"id":"53dbe9b7.a34cc8","type":"tab","label":"Github","disabled":false,"info":""},{"id":"6598a9b4.475fe8","type":"server","name":"Home Assistant","addon":true},{"id":"751339ba.f22bc8","type":"server","name":"Home Assistant"},{"id":"53bff983.f53758","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"36a26f2e.b8fdb","type":"server-state-changed","z":"4758cbb4.e398f4","name":"Bathroom Motion","server":"6598a9b4.475fe8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.desk_motion_zigbee_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":185,"y":119,"wires":[[],["68981e0a.7626a","f565a5b7.056178"]]},{"id":"f565a5b7.056178","type":"stoptimer","z":"4758cbb4.e398f4","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"1 Mins","x":190,"y":220,"wires":[["fccafb32.28f528"],[]]},{"id":"fccafb32.28f528","type":"api-current-state","z":"4758cbb4.e398f4","name":"Bathroom Motion Off?","server":"6598a9b4.475fe8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.desk_motion_zigbee_occupancy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":300,"wires":[["581fd199.42dd5"],["f565a5b7.056178"]]},{"id":"68981e0a.7626a","type":"api-call-service","z":"4758cbb4.e398f4","name":"Bathroom Lights On","server":"6598a9b4.475fe8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":440,"y":100,"wires":[[]]},{"id":"581fd199.42dd5","type":"api-call-service","z":"4758cbb4.e398f4","name":"Bathroom Lights Off","server":"6598a9b4.475fe8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":458,"y":326,"wires":[[]]},{"id":"a7f57d2f.3d605","type":"comment","z":"4758cbb4.e398f4","name":"Bathroom Lights based on motion sensors","info":"","x":200,"y":28,"wires":[]},{"id":"f837f20f.c20ad","type":"server-state-changed","z":"ef7839a1.46e7a8","name":"Leave Home","server":"6598a9b4.475fe8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.mike_s_iphone_xs","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":101,"y":140,"wires":[[],["7e4eab1.44afa54","772a73d0.8a2cdc"]]},{"id":"7e4eab1.44afa54","type":"time-range-switch","z":"ef7839a1.46e7a8","name":"630a-3p","lat":"","lon":"","startTime":"06:30","endTime":"15:00","startOffset":0,"endOffset":0,"x":300,"y":140,"wires":[["9d0ec4c6.1e3858"],["af719cd3.7dd04"]]},{"id":"9d0ec4c6.1e3858","type":"api-call-service","z":"ef7839a1.46e7a8","name":"Turn off Lights","server":"6598a9b4.475fe8","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":500,"y":134,"wires":[["96dc71d.cd6ae9"]]},{"id":"5be99b82.ac07a4","type":"api-call-service","z":"ef7839a1.46e7a8","name":"Turn on Corners","server":"6598a9b4.475fe8","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.right_side_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":697,"y":209,"wires":[[]]},{"id":"af719cd3.7dd04","type":"api-call-service","z":"ef7839a1.46e7a8","name":"Turn off Lights","server":"6598a9b4.475fe8","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":497,"y":209,"wires":[["5be99b82.ac07a4"]]},{"id":"9b397ef.73aaa8","type":"server-state-changed","z":"ef7839a1.46e7a8","name":"Arrive Home","server":"6598a9b4.475fe8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.mike_s_iphone_xs","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":103,"y":357,"wires":[[],["27ee3f31.52bd1"]]},{"id":"a8b6f28d.bc9b5","type":"api-call-service","z":"ef7839a1.46e7a8","name":"Turn on Lights","server":"6598a9b4.475fe8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.corner_2, light.far_corner_2, light.entrance_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":380,"wires":[[]]},{"id":"e6900f8.d4772f","type":"comment","z":"4758cbb4.e398f4","name":"Bathroom Motion","info":"","x":180,"y":80,"wires":[]},{"id":"90bbf501.44b0f8","type":"api-call-service","z":"ef7839a1.46e7a8","name":"Lock August","server":"6598a9b4.475fe8","version":1,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"lock.august_smart_lock_pro","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":696,"y":55,"wires":[[]]},{"id":"80d9205c.bd35d","type":"api-current-state","z":"ef7839a1.46e7a8","name":"is unlocked?","server":"6598a9b4.475fe8","version":1,"outputs":2,"halt_if":"unlocked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.august_smart_lock_pro","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":498,"y":57,"wires":[["90bbf501.44b0f8"],[]]},{"id":"772a73d0.8a2cdc","type":"stoptimer","z":"ef7839a1.46e7a8","duration":"1.5","units":"Minute","payloadtype":"num","payloadval":"0","name":"1.5 Mins","x":306,"y":75,"wires":[["80d9205c.bd35d"],[]]},{"id":"1b5cc55f.8650ab","type":"api-call-service","z":"ef7839a1.46e7a8","name":"Unlock August","server":"6598a9b4.475fe8","version":1,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.august_smart_lock_pro","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":320,"wires":[[]]},{"id":"a48ff001.48a55","type":"api-current-state","z":"ef7839a1.46e7a8","name":"is locked?","server":"6598a9b4.475fe8","version":1,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"lock.august_smart_lock_pro","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":321,"wires":[["1b5cc55f.8650ab"],[]]},{"id":"27ee3f31.52bd1","type":"stoptimer","z":"ef7839a1.46e7a8","duration":"1.5","units":"Minute","payloadtype":"num","payloadval":"0","name":"1.5 Mins","x":280,"y":320,"wires":[["8ec4a48d.bfeaa8"],[]]},{"id":"8ec4a48d.bfeaa8","type":"api-call-service","z":"ef7839a1.46e7a8","name":"","server":"6598a9b4.475fe8","version":1,"debugenabled":false,"service_domain":"notify","service":"notify","entityId":"mobile_app_mike_s_iphone_xs","data":"{\"Title\":\"Front door is locked\",\"Message\":\"Do you want to unlock?\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":320,"wires":[[]]},{"id":"98621773.ab3d98","type":"time-range-switch","z":"ef7839a1.46e7a8","name":"630a-6p","lat":"38.88251","lon":"-77.11293","startTime":"06:30","endTime":"18:00","startOffset":0,"endOffset":0,"x":280,"y":380,"wires":[[],["a8b6f28d.bc9b5"]]},{"id":"96dc71d.cd6ae9","type":"api-call-service","z":"ef7839a1.46e7a8","name":"Turn on Corners","server":"6598a9b4.475fe8","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.right_side_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":140,"wires":[[]]},{"id":"678ef46e.29315c","type":"server-state-changed","z":"4758cbb4.e398f4","name":"PC On","server":"6598a9b4.475fe8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.cobblepot_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":460,"wires":[["1ec3daf0.557eb5"],[]]},{"id":"74715cf5.8b5444","type":"api-call-service","z":"4758cbb4.e398f4","name":"Turn Wled Desk On","server":"6598a9b4.475fe8","version":1,"debugenabled":false,"service_domain":"wled","service":"preset","entityId":"light.wled_desk","data":"{\"entity_id\":\"light.wled_desk\",\"preset\":16}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":true,"x":630,"y":460,"wires":[[]]},{"id":"1ec3daf0.557eb5","type":"api-current-state","z":"4758cbb4.e398f4","name":"Wled Desk On?","server":"6598a9b4.475fe8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.wled_desk_master","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":460,"wires":[[],["74715cf5.8b5444"]]},{"id":"ff739de5.6114e","type":"poll-state","z":"53dbe9b7.a34cc8","name":"","server":"6598a9b4.475fe8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.github_wled","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":180,"y":100,"wires":[["ea270195.f2de7","5057138.57655ec"]]},{"id":"ea270195.f2de7","type":"function","z":"53dbe9b7.a34cc8","name":"old_ver","func":"global.set(\"old_master\",\"0\");\nvar oldVer=msg.data.attributes.latest_release_tag;\n\nmsg.payload=oldVer;\nglobal.set(\"old\",oldVer);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":100,"wires":[["da93a74d.d89628","f0417877.4bb3a8"]]},{"id":"5057138.57655ec","type":"stoptimer","z":"53dbe9b7.a34cc8","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":340,"y":180,"wires":[["fbe9d32b.3d403"],[]]},{"id":"fbe9d32b.3d403","type":"api-current-state","z":"53dbe9b7.a34cc8","name":"","server":"6598a9b4.475fe8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.github_wled","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":180,"wires":[["27d14d82.4a5ac2"]]},{"id":"f0417877.4bb3a8","type":"function","z":"53dbe9b7.a34cc8","name":"compare version","func":"var update=\"no\";\nif (global.get(\"old\") == global.get(\"new\")) {\n    console.log(\"match, no update available\");\n    console.log(global.get(\"old\"));\n    console.log(global.get(\"new\"));\n    update=\"no\";\n} else {\n    console.log(\"not a match, update available\");\n    console.log(global.get(\"old\"));\n    console.log(global.get(\"new\"));\n    update=\"yes\";\n}\nmsg.payload=update;\nupdate=\"no\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":180,"wires":[["65ac9698.622a18","d64a0a46.188b38"]]},{"id":"27d14d82.4a5ac2","type":"function","z":"53dbe9b7.a34cc8","name":"new_ver","func":"let newVer = msg.data.attributes.latest_release_tag;\nmsg.topic=newVer;\nglobal.set(\"new\",newVer);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":180,"wires":[["da93a74d.d89628","f0417877.4bb3a8"]]},{"id":"65ac9698.622a18","type":"debug","z":"53dbe9b7.a34cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":120,"wires":[]},{"id":"d64a0a46.188b38","type":"ha-entity","z":"53dbe9b7.a34cc8","name":"wled_update","server":"6598a9b4.475fe8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"WLED Update Available?"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:led-strip-variant"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1290,"y":180,"wires":[[]]},{"id":"da93a74d.d89628","type":"python-function","z":"53dbe9b7.a34cc8","name":"","func":" if version.parse(msg.payload) < version.parse(msg.topic):\n    msg.payload = \"yes\"\nreturn msg","outputs":1,"x":1080,"y":60,"wires":[["f45d7f97.2edd4"]]},{"id":"c0c8ac93.eb7bf","type":"inject","z":"53dbe9b7.a34cc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":620,"wires":[[]]},{"id":"f45d7f97.2edd4","type":"debug","z":"53dbe9b7.a34cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1260,"y":60,"wires":[]}]
